@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.formContainer{
    height: 80vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.Downshift{
    margin: 30px
}