@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.form {
    height: 80vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

.header-container {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.device {
    font-family: $font-head;
    font-size: 24px;
}

.space {
    width: 5px;
}


.input {
    width:230px;
    height:50px;
    border-radius:40px;
    padding: 12px, 24px, 12px, 24px;
    background-color: $color-pri-5;
    border: none;
    outline: none;
    font-family: $font-inter;
    font-size: 20px;
    padding-left: 20px;
}


.input-container{
    margin:0;
    margin-top: 40px;
}