//TIPOGRAFÍAS
$heading: 'Secuela', sans-serif;
$paragraph: 'Roboto', sans-serif;

//PRIMARIOS
$color-primary-ligthest:#CDE7FE;
$color-primary-ligther:#68B7FD;
$color-primary:#0488FB;
$color-primary-darker:#025197;
$color-primary-darkest:#011B32;

//SECUNDARIOS
$color-secondary-ligthest:#FAEDD1;
$color-secondary-ligther:#EFC876;
$color-secondary:#E4A31B;
$color-secondary-darker:#8B620E;
$color-secondary-darkest:#2E2105;

//SEMÁNTICOS
$color-green:#91E54D;
$color-green-darker:#61B71B;
$color-green-darkest:#478514;
$color-blue:#9CE2FC;
$color-blue-darker:#39C6F9;
$color-blue-darkest:#0693C6;
$color-yellow:#FFD970;
$color-yellow-darker:#FFBD0A;
$color-yellow-darkest:#A37700;
$color-red:#FF6B66;
$color-red-darker:#FF342D;
$color-red-darkest:#990500;

//NEUTROS
$color-neutral-0:#1A1A1A;
$color-neutral-1:#333333;
$color-neutral-2:#666666; 
$color-neutral-3:#999999;
$color-neutral-4:#CCCCCC;
$color-neutral-5:#E6E6E6; 
$color-neutral-6:#F2F3F1;