//FUENTES
$font-head: 'Secuela', sans-serif;
$font-parag: 'Roboto', sans-serif;
$font-advent: 'Advent Pro', sans-serif;
$font-inter: 'Inter', sans-serif;

//COLORES PRIMARIOS
$color-pri-1:#011B32;
$color-pri-2:#025197;
$color-pri-3:#0488FB;
$color-pri-4:#68B7FD;
$color-pri-5:#CDE7FE;

//COLORES SECUNDARIOS
$color-sec-1:#2E2105;
$color-sec-2:#8B620E;
$color-sec-3:#E4A31B;
$color-sec-4:#EFC876;
$color-sec-5:#FAEDD1;

//COLORES SEMÁNTICOS
$color-green-1:#478514;
$color-green-2:#61B71B;
$color-green-3:#91E54D;
$color-blue-1:#0693C6;
$color-blue-2:#39C6F9;
$color-blue-3:#9CE3FC;
$color-gold-1:#A37700;
$color-gold-2:#FFBD0A;
$color-gold-3:#FFD970;
$color-red-1:#990500;
$color-red-2:#FF342D;
$color-red-3:#FF6B66;

//COLORES NEUTROS
$color-neutro-1:#1A1A1A;
$color-neutro-2:#333333;
$color-neutro-3:#666666 ;
$color-neutro-4:#999999;
$color-neutro-5:#CCCCCC;
$color-neutro-6:#E6E6E6 ;
$color-neutro-7:#F2F3F1;